<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User form</title>
</head>
<body>
    <h1>Formulaire utilisateur</h1>
    <br />
    <br />
    <form action="/get_user" method="POST">
        <label for="username">Ecriver le nom d'utilisateur twitter</label>
        <input type="text" name="username" id="username"  required/>
        <button type="submit">Soumettre</button>
    </form>
</body>
</html>